body {
  font-family:Georgia, Arial, sans-serif;;
}
p {
  font-size: 1em;
}
header {
  font-size: 1.25em;
  font-weight: bold;
}
span {
  color: purple;
}
.tab1 {
  margin-left: 25px;
}
.tab2 {
  margin-left: 50px;
}
.tab3 {
  margin-left: 75px;
}
.tab4 {
  margin-left: 100px;
}
.tab5 {
  margin-left: 125px;
}
.relatesTo {
  margin-left: 25px;
  font-family: Arial;
  font-size: 1em;
}
.statutoryAuthority {
  margin-left: 25px;
  font-family: Arial;
  font-size: 1em;
}
.necessityFunctionConformity {
  margin-left: 25px;
  font-family: Arial;
  font-size: 1em;
}
#section23, #section33 {
  line-height: 1.2;
  font-family: Arial;
  width: 900px;
	border: 1px solid #000;
	margin-bottom: 20px;
}
