/*
Color Palette:
ROYAL BLUE  1514B2
LAVENDER    5D5BFF
NAVY BLUE   3835FF
BROWN       B29302
TAN         FFE466*/

a:link, a:visited {
  text-decoration: underline;
  color: #FFE466;
}
a:hover {
	color: #FFE466;
	font-weight: bold;
	text-decoration: none;
}
body {
  font-family:Georgia, Arial, sans-serif;
  background-color: #3835FF;
}
p {
  font-size: 1em;
}
header {
  font-family: sans-serif;
  font-size: 1.25em;
  font-weight: bold;
}
h1 {
  font-family: sans-serif;
}
h2 {
  font-family: sans-serif;
}
span {
  font-family: inherit;
  font-weight: inherit;
}
/* I created this div to style the internal section links for reg pages. Decided not to use it.
div {
  border: 2px solid #000000;
  width: 300px;
  text-align: center;
  margin: 5px;
  padding: 5px;
}*/
table, th {
  border: 1px solid #000000;
}
td {
  border: 1px double #000000;
  padding: 5px;
  background: #5D5BFF;
  text-align: center;
  margin: 5px;
  width: 285px;
}
td a:link, td a:visited {
  font-family: sans-serif;
  text-decoration: none;
  color: #FFE466;
}
td a:hover {
  font-family: sans-serif;
  text-decoration: underline;
  color: #3835FF;
  font-weight: bold;
}
.tab1 {
  margin-left: 25px;
}
.tab2 {
  margin-left: 50px;
}
.tab3 {
  margin-left: 75px;
}
.tab4 {
  margin-left: 100px;
}
.tab5 {
  margin-left: 125px;
}
.relatesTo {
  margin-left: 25px;
  font-family: Arial;
  font-size: 1em;
  font-weight: 500;
}
.statutoryAuthority {
  margin-left: 25px;
  font-family: Arial;
  font-size: 1em;
  font-weight: 500;
}
.necessityFunctionConformity {
  margin-left: 25px;
  font-family: Arial;
  font-size: 1em;
  font-weight: 500;
}
.royalbluebackground {
  background-color: #1514B2;
}
.lavenderbackground {
  background-color: #5D5BFF;
}
.lavenderbackground2 {
  background-color: #5D5BFF;
  padding-bottom: 30px;
}
.lavenderbackground3 {
  background-color: #5D5BFF;
  padding-top: 30px;
}
.navybluebackground {
  background-color: #3835FF;
}
.brownbackground {
  background-color: #B29302;
}
.tanbackground {
  background-color: #FFE466;
}
.commonwealthseal {
  height: 300px;
  width: 300px;
  float: right;
  }

#header2231, #header2232, #header2233, #header3331, #header3332, #header3333 {
  color: #FFE466;
  text-indent: 5px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
#section23, #section33 {
  display:block;
  line-height: 1.2;
  font-family: Arial;
  width: 75%;
	border: 1px solid #000;
  margin-top: 20px;
  margin-bottom: 20px;
}
