body {
  font-family:Georgia;
}
p {
  font-size: 16px;
}
header {
  font-size: 18px;
  font-weight: bold;
}
span {
  color: purple;
}
.tab1 {
  margin-left: 25px;
}
.tab2 {
  margin-left: 50px;
}
.tab3 {
  margin-left: 75px;
}
.tab4 {
  margin-left: 100px;
}
.tab5 {
  margin-left: 125px;
}
.relatesTo {
  margin-left: 25px;
  font-family: Arial;
}
.statutoryAuthority {
  margin-left: 25px;
  font-family: Arial;
}
.necessityFunctionConformity {
  margin-left: 25px;
  font-family: Arial;
}
#section23, #section33 {
  line-height: 1.2;
  font-family: Arial;
}
